<a href="https://colab.research.google.com/github/Nikniknikm/Laboration_1/blob/master/Kopia_Av_Inl%C3%A4mning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inlämning laboration 1

Vissa av uppgifterna i denna inlämning är inspirerade från följande källor:

- MyMachineLearningCourse in Python, licensierad  under GNU General Public License v3.0
- Software Carpentry Copyright ©Software Carpentry, http://software-carpentry.org/, licensierad under Creative Commons Attribution license,https://creativecommons.org/licenses/by/4.0/
- Geo Python (© Copyright 2017 Tenkanen & Whipp, University of Helsinki) licensierad under Creative Commons Attribution-ShareAlike 4.0 International licence https://creativecommons.org/licenses/by-sa/4.0/legalcode.


Denna laboration ska genomföras i par, när ni arbetar med laborationen ska ni vara noga med att spara era ändringar i GitHub. Det går att göra direkt från collaboratory genom att spara en kopia i ert repository. Detta är dels för att ni inte ska riskera att förlora något arbete men också för att det ska gå att följa ert arbete som lärare. När ni är färdiga ska länken till laborationen i collaboratory lämnas in i Studium. Endast en inlämning per grupp behövs. Det är också att rekommendera att infoga en knapp för att öppna filen i Collaboratory direkt från GitHub, detta får ni en fråga om när ni kopierar filen till GitHub, via arkivmenyn.

Det finns totalt 12 uppgifter och frågor, samtliga ska besvaras för godkänt.

## Uppgift 1
Skriv ut dagens datum i formatet YYYY-MM-DD

In [ ]:
#1- Date, använder mig av inbyggda funktionen datetime som skriver ut dagens datum

import datetime
x = datetime.date.today()

print(x)

2021-01-22

## Uppgift 2  
Definiera en funktion `max_of_three()` som tar tre olika nummer som argument och returnerar det största av dem, skriv ut resultatet.

In [ ]:
#2- Max_value, Räknar ut max value av listan

import math
list_number = [1,5,50]
max_of_three = max(list_number)
print (max_of_three)

50

## Uppgift 3  
Definiera en funktion `sum()` som summerar och en annan funktion `multiply()` som multiplicerar alla nummer i en lista, skriv ut resultatet 

**Ex:** `sum([1, 2, 3, 4])` ska returnera 10, och `multiply()([1, 2, 3, 4])` ska returnera 24.

In [53]:
#3a) sum function, skapar en lista och i funktionen summeras alla värde

math_list =[1,2,3,4]
def sum_list(items):
  sum_numbers = 0
  for x in items:
    sum_numbers += x
  return sum_numbers

print(sum_list(math_list))

10

In [55]:
#3b) multiply funktion, skapar en lista och därefter i funktionen multipliceras alla värde 

math_list =[1,2,3,4]
def multiply(math_list):  
    total = 1
    for x in math_list:
        total *= x  
    return total  
print(multiply((math_list)))

24

## Uppgift 4

**a.** Definiera en funktion som tar ett antal (varierande) kommaseparerade nummer som argument och genererar en lista och en tuple som innehåller dessa nummer.

**b.** Vad är skillnaden mellan en lista och en tuple i Python?

In [85]:
#4 -Tuple Vs List, skapar en list och en tuple av hela innehållet på "a"

def list_maker(*a):
  my_list = list(a)
  tuple_list= tuple (a)

  return  my_list, tuple_list

list_maker(5, 4, 7, 8, 1)

([5, 4, 7, 8, 1], (5, 4, 7, 8, 1))

In [ ]:
#4- Skillnaden mellan en lista och tuple är att det inte går att ändra value i tuple vilket är möjligt i en lista. 
#Med detta menas att efter att man har skapat tuple är det inte möjligt att addera, radera eller ändra värdet.

## Uppgift 5 
Skapa två olika tal som integers. Kalkylera produkten av dessa, om produkten är **högre** än 200, returnera då summan av de två talen,skriv ut resultatet. 

**Ex**
~~~
INPUT:  
`number1 = 10`  
`number2 = 20`

RESULT:  
The result is 200.
~~~

In [57]:
#5 -Calculate, räknar ut produktion av två int och ser om den är över 200, då printar den ut summan av de
#annars så händer iget

number1= 20
number2= 20

if(number1*number2>200):
  print(number1+number2)

40

## Uppgift 6 
**a.** Givet en sträng, skriv ut de bokstäver som finns på alla ojämna indexplatser. 

**b.** Utveckla ovanstående funktion så att mellanslag inte skrivs ut utan endast index med bokstäver.

In [106]:
#6a -Alphabet - tar emot värdet ifrån en input och skriver ut bokstväer på alla ojämna platser

alphabet = input('Skriv en mening :) ')
res = alphabet[::2]
print(res)

Skriv en mening :) Det blir skoj med python
Dtbi kjmdpto

In [105]:
#6b - tar emot värdet ifrån en input och därefter splittrar den och splittrar den utan mellanslag

alphabet = input('Skriv en mening :) ')
alphabet = ''.join(alphabet.split())
alphabet = alphabet[::2]
print(alphabet)

Skriv en mening :) Det blir skoj med python
Dtlrkjepto

## Uppgift 7
**a** Skapa en sträng som innehåller 4 olika ord, separerade med ; Använd den inbyggda funktionen `split()`och skriv ut de fyra orden på varsin rad.

**b** Varför var denna övning viktig inför framtida analys av strukturerad data?

In [110]:
#7a-String split

#En sträng som innehåller x-antal ord
word_string = 'Här; Skapas; En; Sträng'
#Splittrar strängen genom .split på ";" tecknet
word_string_split = word_string.split(';')
#for loopen går igenom strängen och skriver ut varje ord på en ny rad
for word in word_string_split:
 print (word)

Här
 Skapas
 En
 Sträng

In [ ]:
#För att kunna ta ur vissa delar ur en mening, kunna dela upp datat som innehåller ett viss tecken

## Uppgift 8

Beräkna inkomstskatten för några olika personer med olika inkomst, använd nedanstående tabell för att se reglerna för inkomstskatt för olika inkomster. Skriv ut varje persons inkomst och skatt på en egen rad. 

| Inkomst  | Skatt (%) |
|----------|-----------|
| <=10 000 |     0     |
| <=30 000 |     20    |
| > 30 000 |     40    |


**Ex**

~~~
En person med en inkomst på 35000 ska betala 10 000*0 + 20 000*0,2 + 5000*0,4 = 6000 kr i skatt.
~~~

In [28]:
#8- Tax

import math
inkomst = int(input('Hur mycket inkomst har du?'))
#kollar om inkomsten är lägre eller lika med 10000
if inkomst <= 10000:
#skriver ut att det behövs inte att betala skatt  
  print('Du behöver inte betala något skatt')
#kollar om inkomsten är lägre eller lika med 30000
elif inkomst <= 30000:
#Räknar ut hur mycket skatt som behövs betalas  
  lowskatt= inkomst*0.20 
#Tar in lowskatt som har räknat skatten som ska betalas och skriver ut den 
  print('Du behöver betala', lowskatt)
#om ovanstående inte stämmer då körs den här delen  
else:
#Räknar ut skatten som behöver betalas   
  highskatt= inkomst*0.40
#Tar in highskatt patameten och skriver ut hur mycker skatt behöver betalas  
  print('Du behöver betala',highskatt)

Hur mycket inkomst har du?32000
Du behöver betala 12800.0

## Uppgift 9

**För att genomföra denna uppgift kan fler än ett kodblock behöva skapas.**

Skapa en strängvariabel som du döper till name och spara ditt förnamn och efternamn i en enda sträng i denna variabel.

Skapa en integervariabel som du döper till iceCreamRating och använd denna för att spara ettnummer mellan 0 till 10 som speglar hur mycket du tycker om glass.

Koda sedan i Python något som ger ungefär denna output:

Mitt namn är Elin Uppström och jag ger glassätning 7 poäng av 10 möjliga!

**OBS!** Elin Uppström ska såklart bestå av innehållet i variabeln name och poängen ska komma från variabeln iceCreamRating

In [32]:
#9 IceCream Rating

#Skapar en stängvariabel med mitt namn 
name= "Nika Mahani"
#Skapar en int med hur mcyket jag tycker om glass
iceCreamRating = 10;
#Skriver ut meningen genom att sätta ihop stängen och inten med lite text
print('Mitt namn är ',name, 'och jag ger glassätning', iceCreamRating,'poäng av 10 möjliga!')

Mitt namn är  Nika Mahani och jag ger glassätning 10 poäng av 10 möjliga!

## Uppgift 10

a. För att konvertera sekunder till sekunder, minuter och timmar kan följande metod användas med "brute force". 
~~~
def convert(seconds): 
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
      
    return "%d:%02d:%02d" % (hour, minutes, seconds) 
      
# Driver program 
n = 12345
print(convert(n)) 

~~~

Istället för brute force, skapa två olika förslag på hur samma sak kan åstadkommas med hjälp av Pythons inbyggda bibliotek som ni hittar [här](https://docs.python.org/3/library/index.html).

In [38]:
#10 förslag 1) importerar datetime och skriver en funktion där jag kan konvertera tiden

import datetime

def convert(n):
    return str(datetime.timedelta(seconds = n))

n = 12345
print(convert(n))

3:25:45

In [39]:
#10 förslag 2) skriver en funktion 

def convert(seconds): 
    min, sec = divmod(seconds, 60) 
    hour, min = divmod(min, 60) 
    return "%d:%02d:%02d" % (hour, min, sec) 
      
n = 3000
print(convert(n))

0:50:00

In [40]:
#10 förslag 3) imposterar time och sedan skriver en funktion som konverterar det

import time 
  
def convert(seconds): 
    return time.strftime("%H:%M:%S", time.gmtime(n)) 


n = 12345
print(convert(n))

03:25:45

## Uppgift 11

I filen som heter smhi_vaderdata.csv finns ett helt dyngs väderdata från Visby flygplats, nämligen från den 28 augusti 11.00 till den 29 augusti 11.00. I denna övning ska ni använda denna data och utföra ett antal uppgifter. För att importera den data som finns används ett externt bibliotek som heter pandas som vi kommer använda oss mycket av framöver. Denna gång får ni dock filen importerad åt er samt de olika temperaturerna inlagda i en lista. När ni sedan skriver er egen kod gör ni detta i ett nytt kodblock. 

a. Skapa tomma listor för olika typer av temperatur, exempelvis varmt, ljummet, kallt etc. Minst tre olika typer av temperaturer ska ingå. 

b. Iterera över listan och sortera in de olika temperaturerna i de skapade temperaturtyperna, 

**Ex** 
~~~
temperatur över 18 grader ska till listan med varma temperaturer
~~~

c. Ange hur många timmar under dygnet de olika temperaturtyperna förekommit. 

**Ex**

~~~
Det var varmt fem timmar under dygnet.
Det var ljummet åtta timmar under dygnet.
Det var inte kallt någon timme under dygnet.
~~~

d. Förklara vilka argument `read_csv` kan ta och vad de två argument som skickas med i nedanstående kod betyder. 

e. Vad är den första kolumnen i den dataframe som skapas i koden nedan (ni måste köra koden för att resultatet ska synas.)

In [59]:
#importerar pandas och hämtar data från csv-filen till en dataFrame

import pandas as pd
temperature_df= pd.read_csv("smhi_vaderdata.csv", sep=';')
temperature_df

         Datum Tid (UTC)  Lufttemperatur
0   2020-08-28  11:00:00            18.2
1   2020-08-28  12:00:00            18.3
2   2020-08-28  13:00:00            18.7
3   2020-08-28  14:00:00            17.5
4   2020-08-28  15:00:00            17.8
5   2020-08-28  16:00:00            17.0
6   2020-08-28  17:00:00            15.7
7   2020-08-28  18:00:00            14.5
8   2020-08-28  19:00:00            13.9
9   2020-08-28  20:00:00            13.9
10  2020-08-28  21:00:00            13.5
11  2020-08-28  22:00:00            14.1
12  2020-08-28  23:00:00            14.2
13  2020-08-29  00:00:00            14.2
14  2020-08-29  01:00:00            14.1
15  2020-08-29  02:00:00            14.0
16  2020-08-29  03:00:00            14.1
17  2020-08-29  04:00:00            14.6
18  2020-08-29  05:00:00            15.8
19  2020-08-29  06:00:00            15.9
20  2020-08-29  07:00:00            16.2
21  2020-08-29  08:00:00            16.7
22  2020-08-29  09:00:00            14.6
23  2020-08-29  10:00:00            14.6
24  2020-08-29  11:00:00            14.2

In [42]:
#skapar en lista med enbart temperatur

temperature = temperature_df['Lufttemperatur']
temperature

0     18.2
1     18.3
2     18.7
3     17.5
4     17.8
5     17.0
6     15.7
7     14.5
8     13.9
9     13.9
10    13.5
11    14.1
12    14.2
13    14.2
14    14.1
15    14.0
16    14.1
17    14.6
18    15.8
19    15.9
20    16.2
21    16.7
22    14.6
23    14.6
24    14.2
Name: Lufttemperatur, dtype: float64

In [56]:
#11 a,b) skapar tre tomma listor

varmtL =[]
ljummetL =[]
kalltL =[]

#Går igenom filen och lägger rätt data i listan
for n in temperature:
  if n > int(18):
    varmtL.append(n)
  
  elif n < int(14):
    kalltL.append(n)

  else:
    ljummetL.append(n)

In [58]:
#11b) Utskriftet för de olika temperatur som är sparade i listor

print('Varm temperatur:', varmtL)
print('Ljummen temperatur:', ljummetL)
print('Kall temperatur:', kalltL)

Varm temperatur: [18.2, 18.3, 18.7]
Ljummen temperatur: [17.5, 17.8, 17.0, 15.7, 14.5, 14.1, 14.2, 14.2, 14.1, 14.0, 14.1, 14.6, 15.8, 15.9, 16.2, 16.7, 14.6, 14.6, 14.2]
Kall temperatur: [13.9, 13.9, 13.5]

In [60]:
#11c) Utskrift för hur många timmar det har varit varmt,ljummet och kallt 
#genom att använda mig av len som går igenom längden på listan

print('Så många timmar var det varmt:', len(varmtL), 'under dygnet' )
print('Så många timmar var det ljummet:', len(ljummetL), 'under dygnet' )
print('Så många timmar var det kallt:', len(kalltL), 'under dygnet' )

Så många timmar var det varmt: 3 under dygnet
Så många timmar var det ljummet: 19 under dygnet
Så många timmar var det kallt: 3 under dygnet

In [ ]:
#11 d) temperature_df= pd.read_csv("smhi_vaderdata.csv", sep=';'
#Argumentet som read_csv kan ta är:
#   -Vilken fil den ska läsa
#   -Hur den ska separera datat
#   -Man kan rätta till headers av dataset
#   -Hantera saknade värden så att de kodas ordentligt som NaN.
#   -Korrigerade datatyper för varje kolumn i datasetet
#   -Konverterar CSV fil till Pandas DataFrame 
#Källa:(https://www.datacamp.com/community/tutorials/pandas-read-csv)


#Det tas in 2 argument, vilken första är vilket fil det är (alltså namnet på filen) 
#Andra argumentet säger hur fil datat ska separeras vilket i det här fallet är med ; tecknet 

#11 e) Första utskriftet är  0	2020-08-28	11:00:00	18.2
#Det vill säga 0, vilket är index platsen på listan

## Uppgift 12

Restaurang varvet har börjat använda swish i hög utsträckning, dock har de ett problem. Kassans dagliga sammanställning stämmer inte med summan som levereras från banken på hur mycket pengar som inkommit. Anledningen är att banken inte sammanställer swishinkomster per dag. Ägaren behöver därför göra detta manuellt vilket tar mycket tid. 

Uppgiften är därmed att beräkna en totalsumma av swishinbetalningar per dag och leverera denna sammanställning i en ny fil som ni sedan kan skicka till ägaren för att underlätta dennes arbete. Ni läser in filen på samma sätt som i föregående övning, även denna fil har ; som separator. Som hjälp har också de bibliotek ni behöver för att genomföra uppgiften importerats. Skapa lämligt antal nya kodblock för att utföra uppgiften.

In [65]:
#12 Importerar nädvändiga bibliotek

import pandas as pd
import dateutil
import csv as csv

#12 - Läser filen, separerar den och ändrar deciameler
swish_history= pd.read_csv("Kontohandelser_swish.csv", sep=';', decimal=',')
swish_history

    Bokföringsdatum  ... Ursprungsreferens Swish
0        2020-06-26  ...                     NaN
1        2020-06-26  ...                     NaN
2        2020-06-26  ...                     NaN
3        2020-06-26  ...                     NaN
4        2020-06-26  ...                     NaN
..              ...  ...                     ...
235      2020-06-22  ...                     NaN
236      2020-06-22  ...                     NaN
237      2020-06-22  ...                     NaN
238      2020-06-22  ...                     NaN
239      2020-06-22  ...                     NaN

[240 rows x 9 columns]

In [103]:
#12 - Använder mig av grupp by för att grupperar valuta datum och sedan summera belopp för varje dag

dagliga_history= swish_history.groupby(swish_history['Valutadatum'])['Belopp'].sum()

In [104]:
#12 - Skriver datat till en .csv fil

df = pd.DataFrame(dagliga_history)
df.to_csv('dagliga_history.csv')