<a href="https://colab.research.google.com/github/Nikniknikm/Laboration_1/blob/master/Kopia_Av_Inl%C3%A4mning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inlämning laboration 1

Vissa av uppgifterna i denna inlämning är inspirerade från följande källor:

- MyMachineLearningCourse in Python, licensierad  under GNU General Public License v3.0
- Software Carpentry Copyright ©Software Carpentry, http://software-carpentry.org/, licensierad under Creative Commons Attribution license,https://creativecommons.org/licenses/by/4.0/
- Geo Python (© Copyright 2017 Tenkanen & Whipp, University of Helsinki) licensierad under Creative Commons Attribution-ShareAlike 4.0 International licence https://creativecommons.org/licenses/by-sa/4.0/legalcode.


Denna laboration ska genomföras i par, när ni arbetar med laborationen ska ni vara noga med att spara era ändringar i GitHub. Det går att göra direkt från collaboratory genom att spara en kopia i ert repository. Detta är dels för att ni inte ska riskera att förlora något arbete men också för att det ska gå att följa ert arbete som lärare. När ni är färdiga ska länken till laborationen i collaboratory lämnas in i Studium. Endast en inlämning per grupp behövs. Det är också att rekommendera att infoga en knapp för att öppna filen i Collaboratory direkt från GitHub, detta får ni en fråga om när ni kopierar filen till GitHub, via arkivmenyn.

Det finns totalt 12 uppgifter och frågor, samtliga ska besvaras för godkänt.

## Uppgift 1
Skriv ut dagens datum i formatet YYYY-MM-DD

In [ ]:
#1- Date
import datetime
x = datetime.date.today()

print(x)

2021-01-22

## Uppgift 2  
Definiera en funktion `max_of_three()` som tar tre olika nummer som argument och returnerar det största av dem, skriv ut resultatet.

In [ ]:
#2- Max_value

import math
list_number = [1,5,50]
max_of_three = max(list_number)
print (max_of_three)

50

## Uppgift 3  
Definiera en funktion `sum()` som summerar och en annan funktion `multiply()` som multiplicerar alla nummer i en lista, skriv ut resultatet 

**Ex:** `sum([1, 2, 3, 4])` ska returnera 10, och `multiply()([1, 2, 3, 4])` ska returnera 24.

In [53]:
#3a) sum function

math_list =[1,2,3,4]
'''
def summery(x,y):
    return x + y

sum = summery(1,2)
print (sum)
'''
math_list =[1,2,3,4]

def sum_list(items):
  sum_numbers = 0

  for x in items:
    sum_numbers += x
  return sum_numbers

print(sum_list(math_list))

10

In [55]:
#3b) multiply funktion
math_list =[1,2,3,4]
def multiply(math_list):  
    total = 1
    for x in math_list:
        total *= x  
    return total  
print(multiply((math_list)))

24

## Uppgift 4

**a.** Definiera en funktion som tar ett antal (varierande) kommaseparerade nummer som argument och genererar en lista och en tuple som innehåller dessa nummer.

**b.** Vad är skillnaden mellan en lista och en tuple i Python?

In [83]:

def list_maker(*a):
  my_list = list(a)
  tuple_list= tuple (a)

  return  my_list, tuple_list

list_maker(5, 4, 7, 8, 1)

([5, 4, 7, 8, 1], (5, 4, 7, 8, 1))

In [ ]:
''' Skillnaden mellan en lista och tuple är att det inte går att ändra value i tuple vilket är möjligt i en lista. 
Med detta menas att efter att man har skapat tuple är det inte möjligt att addera, radera eller ändra värdet.
'''

## Uppgift 5 
Skapa två olika tal som integers. Kalkylera produkten av dessa, om produkten är **högre** än 200, returnera då summan av de två talen,skriv ut resultatet. 

**Ex**
~~~
INPUT:  
`number1 = 10`  
`number2 = 20`

RESULT:  
The result is 200.
~~~

In [57]:
number1= 20
number2= 20
#print(number1*number2)
if(number1*number2>200):
  print(number1+number2)

40

## Uppgift 6 
**a.** Givet en sträng, skriv ut de bokstäver som finns på alla ojämna indexplatser. 

**b.** Utveckla ovanstående funktion så att mellanslag inte skrivs ut utan endast index med bokstäver.

## Uppgift 7
**a** Skapa en sträng som innehåller 4 olika ord, separerade med ; Använd den inbyggda funktionen `split()`och skriv ut de fyra orden på varsin rad.

**b** Varför var denna övning viktig inför framtida analys av strukturerad data?

## Uppgift 8

Beräkna inkomstskatten för några olika personer med olika inkomst, använd nedanstående tabell för att se reglerna för inkomstskatt för olika inkomster. Skriv ut varje persons inkomst och skatt på en egen rad. 

| Inkomst  | Skatt (%) |
|----------|-----------|
| <=10 000 |     0     |
| <=30 000 |     20    |
| > 30 000 |     40    |


**Ex**

~~~
En person med en inkomst på 35000 ska betala 10 000*0 + 20 000*0,2 + 5000*0,4 = 6000 kr i skatt.
~~~

## Uppgift 9

**För att genomföra denna uppgift kan fler än ett kodblock behöva skapas.**

Skapa en strängvariabel som du döper till name och spara ditt förnamn och efternamn i en enda sträng i denna variabel.

Skapa en integervariabel som du döper till iceCreamRating och använd denna för att spara ettnummer mellan 0 till 10 som speglar hur mycket du tycker om glass.

Koda sedan i Python något som ger ungefär denna output:

Mitt namn är Elin Uppström och jag ger glassätning 7 poäng av 10 möjliga!

**OBS!** Elin Uppström ska såklart bestå av innehållet i variabeln name och poängen ska komma från variabeln iceCreamRating

## Uppgift 10

a. För att konvertera sekunder till sekunder, minuter och timmar kan följande metod användas med "brute force". 
~~~
def convert(seconds): 
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
      
    return "%d:%02d:%02d" % (hour, minutes, seconds) 
      
# Driver program 
n = 12345
print(convert(n)) 

~~~

Istället för brute force, skapa två olika förslag på hur samma sak kan åstadkommas med hjälp av Pythons inbyggda bibliotek som ni hittar [här](https://docs.python.org/3/library/index.html).

## Uppgift 11

I filen som heter smhi_vaderdata.csv finns ett helt dyngs väderdata från Visby flygplats, nämligen från den 28 augusti 11.00 till den 29 augusti 11.00. I denna övning ska ni använda denna data och utföra ett antal uppgifter. För att importera den data som finns används ett externt bibliotek som heter pandas som vi kommer använda oss mycket av framöver. Denna gång får ni dock filen importerad åt er samt de olika temperaturerna inlagda i en lista. När ni sedan skriver er egen kod gör ni detta i ett nytt kodblock. 

a. Skapa tomma listor för olika typer av temperatur, exempelvis varmt, ljummet, kallt etc. Minst tre olika typer av temperaturer ska ingå. 

b. Iterera över listan och sortera in de olika temperaturerna i de skapade temperaturtyperna, 

**Ex** 
~~~
temperatur över 18 grader ska till listan med varma temperaturer
~~~

c. Ange hur många timmar under dygnet de olika temperaturtyperna förekommit. 

**Ex**

~~~
Det var varmt fem timmar under dygnet.
Det var ljummet åtta timmar under dygnet.
Det var inte kallt någon timme under dygnet.
~~~

d. Förklara vilka argument `read_csv` kan ta och vad de två argument som skickas med i nedanstående kod betyder. 

e. Vad är den första kolumnen i den dataframe som skapas i koden nedan (ni måste köra koden för att resultatet ska synas.)

In [ ]:
#importerar pandas och hämtar data från csv-filen till en dataFrame
import pandas as pd
temperature_df= pd.read_csv("smhi_vaderdata.csv", sep=';')
temperature_df

FileNotFoundError: ignored

In [ ]:
#skapar en lista med enbart temperatur
temperature = temperature_df['Lufttemperatur']
temperature

In [ ]:
#Din kod för uppgift a här..

## Uppgift 12

Restaurang varvet har börjat använda swish i hög utsträckning, dock har de ett problem. Kassans dagliga sammanställning stämmer inte med summan som levereras från banken på hur mycket pengar som inkommit. Anledningen är att banken inte sammanställer swishinkomster per dag. Ägaren behöver därför göra detta manuellt vilket tar mycket tid. 

Uppgiften är därmed att beräkna en totalsumma av swishinbetalningar per dag och leverera denna sammanställning i en ny fil som ni sedan kan skicka till ägaren för att underlätta dennes arbete. Ni läser in filen på samma sätt som i föregående övning, även denna fil har ; som separator. Som hjälp har också de bibliotek ni behöver för att genomföra uppgiften importerats. Skapa lämligt antal nya kodblock för att utföra uppgiften.

In [ ]:
#Importerar nädvändiga bibliotek
import pandas as pd
import dateutil
import csv as csv